body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:675px;
}
#u16 {
  position:absolute;
  left:38px;
  top:51px;
  width:730px;
  height:675px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  word-wrap:break-word;
}
