body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 108, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:51px;
  top:191px;
  width:127px;
  height:74px;
  font-size:16px;
  color:#FFFFFF;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 108, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:231px;
  top:191px;
  width:127px;
  height:74px;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 108, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:231px;
  top:50px;
  width:127px;
  height:74px;
  font-size:16px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 108, 108, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:412px;
  top:191px;
  width:127px;
  height:74px;
  font-size:16px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:28px;
  width:123px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10 {
  position:absolute;
  left:51px;
  top:309px;
  width:152px;
  height:228px;
  font-size:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12 {
  position:absolute;
  left:231px;
  top:309px;
  width:127px;
  height:152px;
  font-size:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:412px;
  top:309px;
  width:127px;
  height:171px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
